body{
    padding: 0;
    margin: 0;
    background-color: #eee;
    font-family: sans-serif;
}
*,*::after,*::before{
    box-sizing: border-box;
}
header{
    padding: 10px;
    background-color: blanchedalmond;
    text-align: center;
    font-size: 25px;
}